.auth__root {
  font-family: serif;
  color: dimgray;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: centerl;
  padding: 50px;
}
