@use "../../scss/variables" as var;

.auth__root {
  font-family: serif;
  color: var.$cJPBlack;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  & > span {
    cursor: pointer;
  }
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    padding: 12px;
  }
}

// .Toastify__toast-container {
//   padding: 12px;
// }

:root {
  --toastify-toast-width: 420px;
}

// .Toastify__toast-container {
//   width: 500px;
// }
