@use "../../scss/variables" as var;

.auth__root {
  font-family: serif;
  color: var.$cGlay;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  & > span {
    cursor: pointer;
  }
}
